@page
@model EngineController.Pages.ReadmeManage.ReadmeEditModel

@{
    ViewData["Title"] = "Edit README";
}

<h1>Edit README</h1>

<h4>README</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Readme.ID" />
            <div class="form-group">
                <label asp-for="Readme.Text" class="control-label"></label>
                <textarea name="Readme.Text" class="form-control">
                    @Model.Readme.Text
                </textarea>
                <span asp-validation-for="Readme.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css" />
    <script src="~/lib/simplemde/dist/simplemde.min.js"></script>
    <script>
       new SimpleMDE();
    </script>
}
