@page
@model EngineController.Pages.ReadmeManage.IndexModel

@{
    ViewData["Title"] = "View README";
}

<h1>View README</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            @Html.Raw(Model.ReadmeHTML)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Readme.ID">Edit</a>
</div>
