@page

@using System.Web;
@using EngineController.Models;

@model EngineController.Pages.CompetitionTasks.EditModel

@{
    ViewData["Title"] = "Edit Task";
}

<h1>Edit Task</h1>

<h4>Competition Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompetitionTask.ID" />
            <input type="hidden" asp-for="CompetitionTask.SystemIdentifier" />
            <div class="form-group">
                <label asp-for="CompetitionTask.TaskName" class="control-label"></label>
                <input asp-for="CompetitionTask.TaskName" class="form-control" />
                <span asp-validation-for="CompetitionTask.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionTask.Points" class="control-label"></label>
                <input asp-for="CompetitionTask.Points" class="form-control" />
                <span asp-validation-for="CompetitionTask.Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionTask.ScriptType" class="control-label"></label>
                <select asp-for="CompetitionTask.ScriptType" class="form-control" id="script-language-selector" asp-items="Html.GetEnumSelectList<ScriptType>()"></select>
                <span asp-validation-for="CompetitionTask.ScriptType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionTask.ValidationScript" class="control-label"></label>
                <div id="editor" style="min-height: 400px"></div>
                <input asp-for="CompetitionTask.ValidationScript" type="hidden" id="task-input" />
                <span asp-validation-for="CompetitionTask.ValidationScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../CompetitionSystems/Details" asp-route-id="@Model.CompetitionTask.SystemIdentifier">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/monaco/loader.js"></script>
    <script src="~/js/editors.js"></script>
    <script>
        setupEditor({
            initialValue: @Html.Raw(Json.Serialize(Model.CompetitionTask.ValidationScript)),
            form: 'edit-form',
            input: 'task-input'
        })
    </script>
}
